 /* Remove the navbar's default margin-bottom and rounded borders */ 
   
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #0099CC;
    }
    .navbar-brand{
      color:black;
    }
     .nav.navbar-nav li a{
      color:white;
    }
    .container-fluid{
	
	
      margin-top: 100px;
	  
      font-family: "Times New Roman", Times, serif
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
	  margin-bottom:400px;
    }
    .style13 {font-size: 10px}
    
    /* Set black background color, white text and some padding */
    footer {
    
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        padding-top: 100px
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
   